{# Añadimos novalidate para que Symfony gestione los errores y no el navegador silenciosamente #}
{{ form_start(form, {'attr': {'id': 'create-group-form', 'novalidate': 'novalidate'}}) }}
    <div class="modal-body">
        {{ form_errors(form) }}
        
        <div class="mb-3">
            {{ form_label(form.name, 'Nombre del Club') }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.description, 'Descripción') }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Fundar Club</button>
    </div>
{{ form_end(form) }}